.feature-wrapper {
  display: flex;
  flex-direction: column;
}

.feature__title {
  position: relative;
  margin: 0;
  margin-left: 91px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;

  &::before {
    position: absolute;
    left: 0;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $bg-basic-green;
    border-radius: 100%;
  }

  &::after {
    content: "";
    position: absolute;
  }

  &--slim-icon::after {
    top: -3px;
    left: 7px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#cat-slim");
  }

  &--pro-icon::after {
    top: 10px;
    left: -10px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#cat-pro");
  }

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.feature__description {
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    color: #000000;
  }
}

.feature__link {
  display: block;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;

  &::after {
    content: "";
    display: inline-block;
    margin-left: 15px;
    width: 24px;
    height: 12px;
    mask-image: url("../../icons/stack.svg#arrow");
    mask-repeat: no-repeat;
    background-color: #000000;
  }

  @media (min-width: 768px) {
    font-style: 20px;
  }
}
