.history {
  padding: 25px 10px 25px 20px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    background-color: #ffffff;
  }
}

.history__title {
  margin: 0;
  margin-bottom: 40px;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
  }
}

.history__intro {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 24px;
  }
}

.history__list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.history__item {
  width: 124px;
}

.history__number {
  padding-top: 15px;
  padding-bottom: 17px;
  text-align: center;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  border: 1px solid #cdcdcd;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.history__description {
  margin-top: -9px;
  margin-left: 20px;
  width: 85px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) {
    font-size: 14px;
    line-height: 14px;
  }
}

.history__cost {
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}

