.map {
  position: relative;
  margin: 0 auto;
  max-width: 1440px;
}

.map__container {
  @media (min-width: $desktop-width) {
    display: grid;
  }
}

.map-image {
  display: block;
  margin: 0 auto;
  max-width: 1440px;
}
