.navigation {
  position: relative;
  display: flex;
  align-items: center;
  font-family: $secondary-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: 768px) {
    font-size: 18px;
  }
}

.navigation__logo {
  display: flex;
  align-items: center;
  margin-right: auto;

  &:hover {
    opacity: 0.8;
  }

  &:focus-visible {
    outline-color: $bg-basic-green;
  }

  &:active {
    opacity: 0.6;
  }
}

picture {
  display: flex;
  font-size: 0;
}

.navigation__logo-text {
  margin-left: 56px;
}

.navigation__list {
  position: absolute;
  top: 45px;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #ffffff;

  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 1440px) {
    background-color: $bg-basic-green;
  }
}

.navigation__item {
  justify-items: center;
  border-top: 1px solid #e6e6e6;


  @media (min-width: 768px) {
    &--current {
      border-bottom: 2px solid $bg-basic-green;
    }
  }

  @media (min-width: 1440px) {
    &--current {
      border-color: #ffffff;
    }
  }
}

.navigation__link {
  display: block;
  padding: 22px 10px 24px;
  color: #000000;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &:focus-visible {
    outline-color: $bg-basic-green;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: 1440px) {
    color: #ffffff;
    font-size: 20px;
  }
}
